<!-- This section is for Splash Screen -->
<!-- <div class="ole">
<section id="jSplash">
  <div id="circle"></div>
</section>
</div> -->
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<%= render 'layouts/slider' %>
<!-- End Homepage Slider -->

<!-- Header -->
<%= render 'layouts/navbar' %>
<!-- End Header -->

<!-- Our Work Section -->
<div id="work" class="page">
  <div class="container">
      <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Our Work</h2>
                    <h3 class="title-description">Check Out Our Projects on <a href="#">Dribbble</a>.</h3>

                    <div class="page-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus.
                    Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus.
                    <a href="#">Suspendisse consectetur</a> consectetur bibendum. Pellentesque posuere, ligula volutpat elementum interdum, diam arcu elementum ipsum, vel ultricies est mauris ut nisi.</p>
                  </div>

                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Portfolio Projects -->
        <div class="row">
          <div class="span12">
              <!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                      <li class="type-work">Type of Work</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All Projects</a></li>
                        <li><a href="#filter" data-option-value=".design">Design</a></li>
                        <li><a href="#filter" data-option-value=".illustration">Illustration</a></li>
                        <li><a href="#filter" data-option-value=".photography">Photography</a></li>
                        <li><a href="#filter" data-option-value=".video">Video</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>

            <div class="span12">
              <div class="row">
                  <section id="projects">
                      <ul id="thumbs">

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="work/full/image-01-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-01.jpg") %>
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="work/full/image-02-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-02.jpg") %>
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 photography">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="work/full/image-03-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-03.jpg") %>
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 video">
                              <!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
                              <a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/51460511">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-08.jpg") %>
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 photography">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="work/full/image-04-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-04.jpg") %>
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 photography">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="work/full/image-05-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-05.jpg") %>
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 video">
                              <!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
                              <a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/50834315">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-09.jpg") %>
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="work/full/image-06-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-06.jpg") %>
                            </li>
                          <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="work/full/image-07-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-07.jpg") %>
                            </li>
                          <!-- End Item Project -->

                            <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 illustration">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Bat" href="work/full/image-10-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-10.jpg") %>
                            </li>
                          <!-- End Item Project -->

                            <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 illustration">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Wild Cat" href="work/full/image-11-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-11.jpg") %>
                            </li>
                          <!-- End Item Project -->

                            <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 illustration">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="HoneyBear" href="work/full/image-12-full.jpg">
                                  <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <%= image_tag("work/thumbs/image-12.jpg") %>
                            </li>
                          <!-- End Item Project -->
                        </ul>
                    </section>

              </div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Us</h2>
                <h3 class="title-description">Learn About our Team &amp; Culture.</h3>

                <div class="page-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus.
                    Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus.
                    <a href="#">Suspendisse consectetur</a> consectetur bibendum. Pellentesque posuere, ligula volutpat elementum interdum, diam arcu elementum ipsum, vel ultricies est mauris ut nisi.</p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <div class="row margin-40">
      <div class="span4">
          <h3>Our Culture</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus.
            Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. </p>

            <p>Duis in tortor scelerisque felis mattis imperdiet. Donec at <a href="#">libero tellus</a>. Suspendisse consectetur consectetur bibendum.</p>
        </div>

        <div class="span4">
          <h3>Our Method</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut <strong>pretium nisl</strong> non justo condimentum id tincidunt nunc faucibus.
            Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. </p>

            <p>Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus. Suspendisse consectetur consectetur bibendum.</p>
        </div>

        <div class="span4">
          <h3>Our Skills</h3>

            <div class="progress-bar">
                <div class="progress">
                  <span class="field">Design</span>
                    <span class="field-value">60%</span>
                    <div class="bar" style="width: 60%;"></div>
                </div>
            </div>

            <div class="progress-bar">
                <div class="progress">
                  <span class="field">Development</span>
                    <span class="field-value">75%</span>
                    <div class="bar" style="width: 75%;"></div>
                </div>
            </div>

            <div class="progress-bar">
                <div class="progress">
                  <span class="field">UX/UI</span>
                    <span class="field-value">33%</span>
                    <div class="bar" style="width: 33%;"></div>
                </div>
            </div>

            <div class="progress-bar">
                <div class="progress">
                  <span class="field">Branding</span>
                    <span class="field-value">100%</span>
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="sep">
      <span class="separator"></span>
    </div>

    <!-- People -->
    <div class="row">

        <!-- Start Profile -->
      <div class="span4 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">CTO/Founder</span>
                </div>
                <%= image_tag("/profile-01.jpg") %>
            </div>
            <h3 class="profile-name">John Doe</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

            <div class="social">
              <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-dribbble"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->

        <!-- Start Profile -->
      <div class="span4 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Creative Director</span>
                </div>
                <%= image_tag("/profile-02.jpg") %>
            </div>
            <h3 class="profile-name">Jane Helf</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

            <div class="social">
              <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-email"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->

        <!-- Start Profile -->
      <div class="span4 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Lead Designer</span>
                </div>
                <%= image_tag("/profile-03.jpg") %>
            </div>
            <h3 class="profile-name">Joshua Insanus</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

            <div class="social">
              <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->

    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->

<!-- Big Blockquote -->
<div class="big-quote page">
  <div class="container">
      <div class="row">
          <div class="span12">
              <p>We bring a personal and effective approach to every project we work on, which is why our clients love us and why they keep coming back.</p>
                <span class="font-icon-blockquote"></span>
            </div>
        </div>
    </div>
</div>
<!-- End Big Blockquote -->

<!-- Services Section -->
<div id="services" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Services</h2>
                <h3 class="title-description">The key to a successful network operation is to provide high quality services.</h3>

                <div class="page-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus.
                    Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus.
                    <a href="#">Suspendisse consectetur</a> consectetur bibendum. Pellentesque posuere, ligula volutpat elementum interdum, diam arcu elementum ipsum, vel ultricies est mauris ut nisi.</p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <div class="row margin-40">
      <div class="span9">
          <h3>Our Technology</h3>
      <p>Sed at odio ut arcu fringilla dictum eu eu nisl. Donec rutrum erat non arcu gravida porttitor. Nunc et magna nisi.Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas.
            Maecenas ut nulla quis eros scelerisque posuere vel vitae nibh. Proin id condimentum sem. Morbi vitae dui in magna <a href="#">vestibulum suscipit</a> vitae vel nunc. Integer ut risus nulla.</p>

            <p>Malesuada tortor, nec scelerisque lorem mattis. Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur <em>suscipit lorem</em> nunc adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut.
            Maecenas sed justo varius velit imperdiet bibendum et rutrum.</p>

            <p>Malesuada tortor, nec scelerisque lorem mattis. Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. <strong>Sed consectetur</strong> suscipit lorem nunc adipiscing elit.
            Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum.</p>
        </div>

        <div class="span3">
          <h3>Why Choose Us <span class="color-text">?</span></h3>
            <ul>
              <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </div>
    </div>

    <div class="sep">
      <span class="separator"></span>
    </div>

    <!-- Services Boxes -->
    <div class="row">
      <div class="span4">
          <div class="services-box">
            <div class="icon">
                  <span class="font-icon-cog"></span>
                </div>
                <h3>Deployment</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. Ut neque eros, pulvinar eu blandit quis, lacinia nec.</p>
          </div>
        </div>

        <div class="span4">
          <div class="services-box">
            <div class="icon">
                  <span class="font-icon-layer"></span>
                </div>
                <h3>Optimization</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. Ut neque eros, pulvinar eu blandit quis, lacinia nec.</p>
          </div>
        </div>

        <div class="span4">
          <div class="services-box">
            <div class="icon">
                  <span class="font-icon-map"></span>
                </div>
                <h3>Manages Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. Ut neque eros, pulvinar eu blandit quis, lacinia nec.</p>
          </div>
        </div>
    </div>
    <!-- End Services Boxes -->

</div>
</div>
<!-- End Services Section -->

<!-- Google Map -->
<div id="map-area">
    <div class="map" id="map_1" data-mapLat="51.911475" data-mapLon="-1.461815" data-mapZoom="11" data-mapTitle="Your Title"></div>
</div>
<!-- End Google Map -->

<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Get in Touch</h2>
                <h3 class="title-description">We’re currently accepting new client projects. We look forward to serving you.</h3>

                <div class="page-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus.
                    Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus.
                    <a href="#">Suspendisse consectetur</a> consectetur bibendum. Pellentesque posuere, ligula volutpat elementum interdum, diam arcu elementum ipsum, vel ultricies est mauris ut nisi.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <!-- Contact Form -->
    <div class="row">
      <div class="span9">

          <form id="contact-form" class="contact-form" action="#">
              <p class="contact-name">
                <input id="contact_name" type="text" placeholder="Full Name" value="" name="name" />
                </p>
                <p class="contact-email">
                  <input id="contact_email" type="text" placeholder="Email Address" value="" name="email" />
                </p>
                <p class="contact-message">
                  <textarea id="contact_message" placeholder="Your Message" name="message" rows="15" cols="40"></textarea>
                </p>
                <p class="contact-submit">
                  <a id="contact-submit" class="submit" href="#">Send Your Email</a>
                </p>

                <div id="response">

                </div>
            </form>

        </div>

        <div class="span3">
          <div class="contact-details">
            <h3>Contact Details</h3>
                <ul>
                    <li><a href="#">hello@hackreactor.com</a></li>
                    <li>(555) 555.5555</li>
                    <li>
                        Hack Reactor
                        <br>
                        Market Street
                        <br>
                        San Francisco
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Services Form -->
</div>
</div>
<!-- End Contact Section -->

<!-- Twitter Feed -->
<div id="twitter-feed" class="page-alternate">
  <div class="container">
      <div class="row">
            <div class="span12">
                <div class="follow">
                    <a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><i class="font-icon-social-twitter"></i></a>
                </div>

                <div id="ticker" class="query">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Twitter Feed -->

<!-- Socialize -->
<div id="social-area" class="page">
  <div class="container">
      <div class="row">
            <div class="span12">
                <nav id="social">
                    <ul>
                        <li><a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                        <li><a href="http://dribbble.com/Bluxart" title="Follow Me on Dribbble" target="_blank"><span class="font-icon-social-dribbble"></span></a></li>
                        <li><a href="http://forrst.com/people/Bluxart" title="Follow Me on Forrst" target="_blank"><span class="font-icon-social-forrst"></span></a></li>
                        <li><a href="http://www.behance.net/alessioatzeni" title="Follow Me on Behance" target="_blank"><span class="font-icon-social-behance"></span></a></li>
                        <li><a href="https://www.facebook.com/Bluxart" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="https://plus.google.com/105500420878314068694" title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                        <li><a href="http://www.linkedin.com/in/alessioatzeni" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                        <li><a href="http://themeforest.net/user/Bluxart" title="Follow Me on ThemeForest" target="_blank"><span class="font-icon-social-envato"></span></a></li>
                        <li><a href="http://zerply.com/Bluxart/public" title="Follow Me on Zerply" target="_blank"><span class="font-icon-social-zerply"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Socialize -->

<!-- Footer -->
<footer>
  Copyright 2013, Hack Reactor, LLC. All rights reserved.
  <p class="credits">&copy;2013 Made at HackReactor. Hack Reactor, LLC. All rights reserved.</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->
