<h1>Listing websites</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Views</th>
    <th>Content</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @websites.each do |website| %>
  <tr>
    <td><%= website.url %></td>
    <td><%= website.views %></td>
    <td><%= website.content %></td>
    <td><%= website.team %></td>
    <td><%= link_to 'Show', website %></td>
    <td><%= link_to 'Edit', edit_website_path(website) %></td>
    <td><%= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Website', new_website_path %>
