<div class="row">
    <div class="span12">
      <div class="row">
          <section id="projects">
              <ul id="thumbs">

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design">
                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                        <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="#">
                            <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-01.jpg") %>
                    </li>
                  <!-- End Item Project -->

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-02.jpg") %>
                    </li>
                  <!-- End Item Project -->

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-03.jpg") %>
                    </li>
                  <!-- End Item Project -->

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 video">
                      <!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
                      <a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-08.jpg") %>
                    </li>
                  <!-- End Item Project -->

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-04.jpg") %>
                    </li>
                  <!-- End Item Project -->

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-05.jpg") %>
                    </li>
                  <!-- End Item Project -->

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 video">
                      <!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
                      <a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-09.jpg") %>
                    </li>
                  <!-- End Item Project -->

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-06.jpg") %>
                    </li>
                  <!-- End Item Project -->

      <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-07.jpg") %>
                    </li>
                  <!-- End Item Project -->

                    <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 illustration">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Bat" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-10.jpg") %>
                    </li>
                  <!-- End Item Project -->

                    <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 illustration">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Wild Cat" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-11.jpg") %>
                    </li>
                  <!-- End Item Project -->

                    <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 illustration">
                      <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                      <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="HoneyBear" href="#">
                          <span class="overlay-img"></span>
                            <span class="overlay-img-thumb font-icon-search"></span>
                        </a>
                        <!-- Thumb Image and Description -->
                        <%= image_tag("../assets/work/thumbs/image-12.jpg") %>
                    </li>
                  <!-- End Item Project -->
                </ul>
            </section>

      </div>
    </div>
</div>
