<!DOCTYPE html>
<html>
<head>
  <title>Made at Hackreactor</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="#">
  <link rel="apple-touch-icon" sizes="114x114" href="#">
  <link rel="apple-touch-icon" sizes="72x72" href="#">
  <link rel="apple-touch-icon" sizes="144x144" href="#">
</head>
<body>
<!-- Homepage Slider -->
<%= render 'layouts/slider' %>
<!-- End Homepage Slider -->

<!-- Header -->
<%= render 'layouts/navbar' %>
<!-- End Header -->
<%= yield %>
<%= render 'layouts/footer' %>
</body>
  <%= javascript_include_tag "application" %>
</html>
